<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      img {
        width: 200px;
        height: 200px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de clientes</h1>
      </div>
      <div class="row">
        <button on-click="obtenerClientes" class="btn btn-success">Obtener clientes</button>
      </div>
      <div class="row">
        <table class="table table-reflow">
          <thead>
            <tr>
              <td>ID</td>
              <td>Nombre</td>
              <td>Compañia</td>
              <td>Ciudad</td>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
                <td>[[item.Country]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notity: true
          }
        };
      }

      obtenerClientes() {
        let url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers"
        let http = new XMLHttpRequest();
        http.open("GET", url, false);
        http.setRequestHeader('Accept', 'application/json');
        http.send();

        this.clientes = JSON.parse(http.responseText).value;
        console.table(this.clientes);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
