<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      img {
        width: 200px;
        height: 200px;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/png/512/2930/2930627.png" alt="Gateto">
      </div>
      <div class="row">
        <button on-click="incrementar" class="btn btn-success">Cargar</button>
      </div>
      <div class="row">
        <span>Data Binding - Enlazado de datos</span>
        <br>
        Bidireccional ((two-way))<input type="text" value="{{prop1::input}}">
        <br>
        Unidireccional ((one-way))<input type="text" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidp</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Selena</td>
              <td>Nora</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Elena</td>
              <td>Nito</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: "Indique usuario"
          }
        };
      }

      incrementar() {
        this.prop2 += 1;
        console.log(`prop1: ${this.prop1}`);
        console.log(`prop2: ${this.prop2}`);
        
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
